.profile__avatar-button{
    outline: none;
    border: none;
    position: relative;
    border-radius: 50%;
    background: transparent;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}
.profile__avatar-button::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
  }
  
  .profile__avatar-button:hover::after{
    outline: 2px solid rgba(0, 0, 0, 0.8);
    background: center 50% / 26px no-repeat url(../../../images/Vector.svg) rgba(0, 0, 0, 0.8);
  }