.profile__edit-button {
    padding: 0;
    border: none;
    background-image: url(../../../images/edit-button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-top: 39px;
    cursor: pointer;
  }
  .profile__edit-button:hover{
    opacity: 50%;
  }
  @media screen and (max-width: 320px){
    .profile__edit-button {
      position: absolute;
      right: 0;
      top: 32%;
      margin: 0;
     margin-right: 37px;
      width: 18px;
    height: 18px;
  }
}