.header__line{
  margin-top: 41px;
  opacity: 70%;
   }
   @media screen and (max-width: 768px){  
    .header__line{
      max-width: 100%;
    }
   }
 
 @media screen and (max-width: 320px){  
    .header__line{
      margin-top: 31px;
      max-width: 320px;
 }
}