.card__like-button{
        padding: 0;
        border: none;
        background-image: url(../../../images/like-but.svg);
        background-repeat: no-repeat;
        background-color: transparent;
        width: 22px;
        height: 19px;
        cursor: pointer;
      }

      .card__like-button:hover{
        opacity: 50%;
      }
