.profile__edit-button {
    padding: 0;
    border: none;
    background-image: url(../../../images/edt-but.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-top: 39px;
    cursor: pointer;
  }
  .profile__edit-button:hover{
    opacity: 50%;
  }
  @media screen and (max-width: 485px){
    .profile__edit-button {
      position: relative;
      top: -60px;
      left: 210px;
      margin: 0;
      width: 18px;
      height: 18px;
    }
  }
  @media screen and (max-width: 320px){
    .profile__edit-button {
      left: 245px;
      top: -50px;
  
  }
}