.profile__info{
    max-width: 336px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
@media screen and (max-width: 320px){  
    .profile__info{
      max-width: 282px;

    }
}